<section class="contact" id="contact">
    <div class="container px-4 py-5">
        <h2 class="text-center text-uppercase text-white mb-5">{{locales.contacts_title}}</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            <div class="col">
                <div class="feature px-3 rounded-2 border">
                    <div class="feature-icon bg-purple">
                        <img src="/assets/images/svg/phone.svg" alt="{{locales.phone_number}}" />
                    </div>
                    <h3 class="mt-3">{{locales.phone_number}}</h3>
                    <a href="tel:{{locales.phone}}" class="btn btn-outline-purple my-3">{{locales.phone}}</a>
                </div>
            </div>
            <div class="col">
                <div class="feature px-3 rounded-2 border">
                    <div class="feature-icon bg-pink">
                        <img src="/assets/images/svg/email.svg" alt="{{locales.email_title}}" />
                    </div>
                    <h3 class="mt-3">{{locales.email_title}}</h3>
                    <a href="mailto:{{locales.email}}" class="btn btn-outline-pink my-3">{{locales.email}}</a>
                </div>
            </div>
            <div class="col">
                <div class="feature px-3 rounded-2 border">
                    <div class="feature-icon bg-purple">
                        <img src="/assets/images/svg/address.svg" alt="{{locales.address_title}}" />
                    </div>
                    <h3 class="mt-3">{{locales.address_title}}</h3>
                    <p class="mt-3">{{locales.address|raw}}</p>
                </div>
            </div>
            <div class="col">
                <div class="feature px-3 rounded-2 border">
                    <div class="feature-icon bg-pink">
                        <img src="/assets/images/svg/hours.svg" alt="{{locales.hours_title}}" />
                    </div>
                    <h3 class="mt-3">{{locales.hours_title}}</h3>
                    <p class="mt-3">{{locales.hours|raw}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
